<a href="https://colab.research.google.com/github/Churchiill/Tehran-Air-Quality/blob/main/Tehran_AQI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import io, requests
import seaborn as sns

In [2]:
username = 'Churchiill'
token = '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'

github_session = requests.Session()
github_session.auth = (username, token)

In [9]:
url = "https://raw.githubusercontent.com/Churchiill/Tehran-Air-Quality/main/data/Features.csv?token=ATDLLFDOCFDHFKYZXUBNAFDAZUGTM"
Xcsv = github_session.get(url).content
X = pd.read_csv(io.BytesIO(Xcsv), index_col=0, header=0 )

url = 'https://raw.githubusercontent.com/Churchiill/Tehran-Air-Quality/main/data/AQI.csv?token=ATDLLFCOMDGLCL6GNG273YLAZUGQM'
Ycsv = github_session.get(url).content
Y = pd.read_csv(io.BytesIO(Ycsv), index_col=0, header=0 )

In [11]:
Y.head()

              CO    O3    NO2   SO2  PM10  PM2.5    AQI
date
1397/10/11  18.0  23.0  120.0   7.0  57.0   77.0   77.0
1397/10/12  42.0  16.0  117.0  11.0   NaN   86.0   86.0
1397/10/13  32.0   3.0  124.0  13.0  71.0  130.0  130.0
1397/10/14  29.0   8.0  108.0   9.0  38.0   91.0   91.0
1397/10/15  44.0  17.0  119.0  10.0  61.0  115.0  115.0