<a href="https://colab.research.google.com/github/Churchiill/Tehran-Air-Quality/blob/main/Tehran_AQI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import io, requests
import seaborn as sns

In [15]:
username = 'Churchiill'
token = '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'

github_session = requests.Session()
github_session.auth = (username, token)

In [24]:
url = "https://raw.githubusercontent.com/Churchiill/Tehran-Air-Quality/main/data/Features.csv?token=ATDLLFDOCFDHFKYZXUBNAFDAZUGTM"
Xcsv = github_session.get(url).content
X = pd.read_csv(io.BytesIO(Xcsv), index_col=0, header=0 )

url = 'https://raw.githubusercontent.com/Churchiill/Tehran-Air-Quality/main/data/AQI.csv?token=ATDLLFCOMDGLCL6GNG273YLAZUGQM'
Ycsv = github_session.get(url).content
Y = pd.read_csv(io.BytesIO(Ycsv), index_col=0, header=0 )

In [29]:
X.tail()

                 T_Max  T_Avg  T_Min  D_Max  ...  P_Avg  P_Min  Rain  Holidays
12/27/2019 0:00     57   49.6     43     37  ...   25.9   25.9  0.00       1.0
12/28/2019 0:00     54   47.4     43     36  ...   26.0   25.9  2.01       0.0
12/29/2019 0:00     54   46.4     39     27  ...   26.1   26.1  0.00       0.0
12/30/2019 0:00     54   46.8     39     27  ...   26.1   26.1  0.00       0.0
12/31/2019 0:00     48   43.0     37     36  ...   26.0   25.9  0.21       0.0

[5 rows x 17 columns]